{% extends 'base.html' %}
{% block title %} {{ block.super }} {% endblock title %}
{% block content %}
    <div class="center"> 
        
        <h2 class="question">  {{question.title}}  </h2>
        <p class="question">  {{question.text}}  </p>        
    </div>
    <div class="center"> 
        {% for obj in answer %}
            <p class="answer">  {{obj}} </p>
        {% endfor %}
    </div>

    <div class="center"> 
        <h1>Comment</h1>
        <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="">Send</button>
        </form>
    </div>

{% endblock content %}
 