{% extends 'base.html' %}
{% block title %} {{ block.super }} {% endblock title %}
{% block content %}
    <div class="center"> 
        {% for obj in page.object_list %}
            <p class="question"><a href="{{ paginator.question_url }}{{ obj.id }}">  {{obj}} </a> </p>
        {% endfor %}
    </div>
    <div class="center"> 
        <div class="pagination">
            <a href="{{ paginator.baseurl }}1"> 
                &laquo;
            </a>
            {% for p in paginator.page_range %}
                {% if p == page.number %}
                <a class="active"
                {% else %}
                <a 
                {% endif %} href="{{ paginator.baseurl }}{{ p }}"> 
                    
                        {{ p }} 
                    </a>
                      {% endfor %}
            <a href="{{ paginator.baseurl }}{{ paginator.num_pages }}"> 
                &raquo;
            </a>
        </div>
    </div>
{% endblock content %}
 